/* Container setup */
body {
  overflow-x: clip;
}
/* .marquee-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 700px; 
    overflow: hidden;
  } */
  
  
  /* Column setup */
  .column {
    width: 45%; /* Adjust width if needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Adjust the height based on total images */
    animation-timing-function: linear;
  }
  /* Animation for scrolling up */
  .scroll-up {
    animation: scrollUp 10s linear infinite;
  }
  
  /* Animation for scrolling down */
  .scroll-down {
    animation: scrollDown 10s linear infinite;
  }
  

/* Keyframes for scrolling up */
@keyframes scrollUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
  }
  
  /* Keyframes for scrolling down */
  @keyframes scrollDown {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(50%);
    }
  }
  
  /* Optional styling for images */
  .marquee-container img {
    width: 100%; /* Adjust image size */
    margin-bottom: 20px;
  }


  .slider-container {
    width: 100vw;
    overflow: hidden;
  }

  .slider {
    /* display: flex;
    align-items: center; */
    animation: slide 10s linear infinite;
  }
  .slider2 {
    /* display: flex;
    align-items: center; */
    animation: slide2 10s linear infinite;
  }


  

  @keyframes slide {
    0% {
      transform: translateX(-0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes slide2 {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
 

 
  
  